.seccionHija{
    margin:10px 0;
}
.p-valor-item{
    border-bottom: #8ed3ea 2px solid;
    font-size: 16px;
    padding: 5px 0px;
    text-align: center;
}

.p-valor{
    text-align: center;
    margin: 11px auto;
}

.btn-evaluacion{
    float: right;
}

.mat-select{
    width: 100px;
    margin: 0
}
