<div *ngFor="let seccionPadre of json.Secciones; let i = index">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-10">
          <h2>{{seccionPadre.Nombre}}</h2>
        </div>
        <div class="col-2">
          <p class="p-valor">Valor asignado</p>
        </div>
      </div>
      <div class="row seccionHija" *ngFor="let seccionHija of seccionPadre.Seccion_hija_id; let j = index">
        <div [ngClass]="'col-'+item['Tamano']" *ngFor="let item of seccionHija['Item']; let k = index"
          [ngSwitch]="item['Id_tipo_item'][0]['Nombre']">
          <p *ngSwitchCase="'label'">
            {{item['Valor']}}
          </p>
          <div class="mat-select" *ngSwitchCase="'select'">
            <mat-select placeholder="Opcion" [(ngModel)]="json.Secciones[i].Seccion_hija_id[j]['Item'][2].Valor"
              (selectionChange)="filterChanged(i)">
              <mat-option *ngFor="let opcion of seccionHija['Item'][2]['Opcion_item']" [value]="opcion['Id_opciones']">
                {{opcion['Id_opciones']['Nombre']}}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div class="col-2">
          <p class="p-valor-item">
            {{seccionHija['Item'][2].Valor.Valor}}
          </p>
        </div>
      </div>
      <hr />
      <div class="row seccionHija">
        <div class="col-8">
        </div>
        <div class="col-2">
          <p>Puntaje total</p>
        </div>
        <div class="col-2">
          <p class="p-valor-item">{{seccionPadre.ValorSeccion}}</p>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-5">
        <h2>Puntaje total de la evaluacion</h2>
      </div>
      <div class="col-2">
        <p class="p-valor-item"> {{ valorTotal }}</p>
      </div>
      <div class="col-5">
        <button (click)="realizarEvaluacion()" nbButton class="btn-evaluacion">
          Enviar Evaluación
        </button>
      </div>
    </div>
  </div>
</div>