<h3 class="pt-4 pb-2">{{'GLOBAL.entrada_donacion' | translate}}</h3>
<p class="font-weight-bold font-italic pb-2">{{'GLOBAL.acta_recibido' | translate}} # {{ actaRecibidoId }}</p>

<!-- FORMULARIO -->
<nb-stepper #stepper orientation="horizontal">

 <!-- DATOS DE CONTRATO -->
 <nb-step [stepControl]="contratoForm" label="{{'GLOBAL.contrato' | translate}}">
  <h5>{{'GLOBAL.datos_contrato' | translate}}</h5>
  <form [formGroup]="contratoForm" class="step-container">
    <div class="row">
      <div class="form-group col-sm">
        <label>{{'GLOBAL.tipo_contrato' | translate}}</label>
        <select class="form-control" (change)="changeSelectTipoContrato($event)">
          <option disabled selected>{{'GLOBAL.seleccionar' | translate}}...</option>
          <option value="14">Orden de Servicios</option>
          <option value="15">Orden de Compra</option>
        </select>
      </div>
      <div class="form-group col-sm">
        <label>{{'GLOBAL.vigencia' | translate}}</label>
        <select class="form-control" (change)="changeSelectVigencia($event)" [disabled]="!tipoContratoSelect">
          <option disabled selected>{{'GLOBAL.seleccionar' | translate}}...</option>
          <option value="{{ vigencia }}">{{ vigencia }}</option>
          <option value="{{ vigencia-1 }}">{{ vigencia-1 }}</option>
        </select>
      </div>
      <div class="form-group col-sm">
        <label>{{'GLOBAL.numero_contrato' | translate}}</label>
        <div class="input-group">
          <input nbInput type="text" shape="semi-round" placeholder="{{'GLOBAL.placeholder_contrato' | translate}}" class="form-control"
            [readonly]="!vigenciaSelect || !tipoContratoSelect" list="contratosList" formControlName="contratoCtrl"
            [ngClass]="{'form-control-danger': contratoForm.invalid && (contratoForm.dirty || contratoForm.touched)}" />
        </div>
        <datalist id="contratosList">
          <option *ngFor="let item of contratos" value='{{ item.NumeroContratoSuscrito }}'></option>
        </datalist>
      </div>
    </div>
    <button type="button" (click)="onContratoSubmit()" nbButton nbStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
  </form>
</nb-step>

  <!-- FACTURA -->
  <nb-step [stepControl]="facturaForm" label="{{'GLOBAL.factura' | translate}}">
    <form [formGroup]="facturaForm" class="step-container">
      <h5>{{'GLOBAL.factura' | translate}}</h5>
      <div class="row">
        <div class="form-group col-sm">
          <label>{{'GLOBAL.numero_factura' | translate}}</label>
          <div class="input-group">
            <select class="form-control" (change)="changeSelectSoporte($event)">
              <option disabled selected>{{'GLOBAL.seleccionar' | translate}}...</option>
              <option *ngFor="let item of soportes" value="{{ item.Id }}">{{ item.Consecutivo }}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-sm">
          <label>{{'GLOBAL.proveedor' | translate}}</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="{{'GLOBAL.razon_social' | translate}}" class="form-control"
              value="{{proveedor}}" [readonly]="true" />
          </div>
        </div>
        <div class="form-group col-sm">
          <label>{{'GLOBAL.fecha_factura' | translate}}</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="{{'GLOBAL.fecha_factura' | translate}}" class="form-control"
              value="{{ fechaFactura }}" [readonly]="true">
          </div>
        </div>
      </div>
      <button nbButton nbStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
      <button type="button" (click)="onFacturaSubmit()" nbButton nbStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
    </form>
  </nb-step>

  <!-- SOLICITANTE -->
  <nb-step [stepControl]="solicitanteForm" label="{{'GLOBAL.solicitante' | translate}}">
    <h5>{{'GLOBAL.solicitante' | translate}}</h5>
    <form [formGroup]="solicitanteForm" class="step-container">
      <div class="row">
        <div class="form-group col-sm">
          <label>{{'GLOBAL.vigencia' | translate}}</label>
          <div class="input-group">
            <input nbInput shape="semi-round" placeholder="{{'GLOBAL.placeholder_fecha' | translate}}" formControlName="fechaCtrl"
              class="form-control" [nbDatepicker]="formpicker" required>
            <nb-datepicker (dateChange)="changeSolicitante($event)" #formpicker></nb-datepicker>
          </div>
        </div>
        <div class="form-group col-sm">
          <label>{{'GLOBAL.ordenador_gasto' | translate}}</label>
          <div class="input-group">
            <input nbInput (change)="changeOrdenador()" type="text" shape="semi-round"
              placeholder="Ordenador de Gasto" class="form-control" [readonly]="!solicitanteSelect"
              list="solicitanteList" formControlName="solicitanteCtrl"
              [ngClass]="{'form-control-danger': solicitanteForm.invalid && (solicitanteForm.dirty || solicitanteForm.touched)}" />
          </div>
        </div>
        <datalist id="solicitanteList">
          <option *ngFor="let item of ordenadores" value='{{ item.NombreOrdenador }}'></option>
        </datalist>
        <div class="form-group col-sm">
          <label>{{'GLOBAL.asignacion' | translate}}</label>
          <div class="input-group">
            <input nbInput shape="semi-round" type="text" placeholder="Cargo" value="{{ cargoOrdenador }}" class="form-control" [readonly]="true" />
          </div>
        </div>
      </div>
      <button nbButton nbStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
      <button type="button" (click)="onSolicitanteSubmit()" nbButton nbStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
    </form>
  </nb-step>

  <!-- OBSERVACIONES -->
  <nb-step [stepControl]="observacionForm" label="{{'GLOBAL.observaciones' | translate}}">
    <form [formGroup]="observacionForm" class="step-container">
      <h5>{{'GLOBAL.observaciones' | translate}}</h5>
      <div class="row">
        <div class="form-group  col-lg-12">
          <div class="input-group">
            <textarea rows="5" shape="semi-round" placeholder="{{'GLOBAL.observaciones' | translate}}" class="form-control"
              formControlName="observacionCtrl"></textarea>
          </div>
        </div>
      </div>
      <button nbButton nbStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
      <button type="button" nbButton nbStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
    </form>
  </nb-step>

  <!-- FINALIZAR -->
  <nb-step [hidden]="true">
    <div class="step-container d-flex justify-content-center">
      <h3>{{'GLOBAL.datos_correctos' | translate}}!</h3>
    </div>
    <div class="step-container d-flex justify-content-center">
      <p>{{'GLOBAL.mensaje_registrar' | translate}}</p>
    </div>
  </nb-step>

</nb-stepper>

<h5 class="pt-4">{{'GLOBAL.elementos_entrada' | translate}}</h5>
<ngx-tabla-entradas [actaRecibidoId]="actaRecibidoId"></ngx-tabla-entradas>

<div class="justify-content-center float-right pt-4">
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
    (click)="onSubmit()">
    {{'GLOBAL.registrar_entrada' | translate}}
  </button>
</div>