<div class="col-lg-12">
  <nb-card>
    <nb-card-header>
      <h1>{{'GLOBAL.consultar_entrada' | translate}}</h1>
    </nb-card-header>
    <nb-card-body>

      <!-- CARD PARA MOSTRAR LAS SOLICITUDES *ngIf="!detalle" -->
      <p class="h4 pb-4" *ngIf="!detalle">{{'GLOBAL.mensaje_consulta_entrada' | translate}}</p>

      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)" *ngIf="!detalle">
      </ng2-smart-table>

      <div class="justify-content-center float-right pt-4" *ngIf="!detalle">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
          (click)="onRegister()">
          {{'GLOBAL.registrar_nueva_entrada' | translate}}
        </button>
      </div>

      <!-- CARD PARA MOSTRAR LOS DETALLES DE LAS SOLICITUDES -->

      <h5 class="pb-4" *ngIf="detalle">{{'GLOBAL.detalle_entrada' | translate}}</h5>

      <div class="container">

        <div class="row">
          <div class="col">
            <p *ngIf="detalle">Entrada: {{ entradaEspecifica.Consecutivo }}</p>
          </div>
          <div class="col">
            <p *ngIf="detalle">Tipo de Entrada: {{ entradaEspecifica.TipoEntradaId.Nombre }}</p>
          </div>
        </div>

        <div class="row">
          <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Id === 5" class="col">
            <p *ngIf="detalle && entradaEspecifica.TipoEntradaId.Id === 5 && entradaEspecifica.Importacion">Entrada
              por
              Importación: Si</p>
            <p *ngIf="detalle && entradaEspecifica.TipoEntradaId.Id === 5 && !entradaEspecifica.Importacion">Entrada
              por
              Importación: No</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p *ngIf="detalle">Acta de Recibido N°: {{ entradaEspecifica.ActaRecibidoId }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p *ngIf="detalle && entradaEspecifica.ContratoId !== 0">Contrato N°: {{ entradaEspecifica.ContratoId }}</p>
          </div>
          <div class="col">
            <p *ngIf="detalle">Tipo Contrato: {{ contrato.TipoContrato }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p *ngIf="detalle && contrato.ContratoId !== 0">Supervisor: {{ contrato.Supervisor.Nombre }}</p>
          </div>
          <div class="col">
            <p *ngIf="detalle && contrato.ContratoId !== 0">Cargo: {{ contrato.Supervisor.Cargo }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p *ngIf="detalle && entradaEspecifica.Solicitante !== 0">Solicitante: {{ entradaEspecifica.Solicitante }}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p *ngIf="detalle && entradaEspecifica.Observacion !== ''">Observaciones: {{ entradaEspecifica.Observacion }}</p>
            <p *ngIf="detalle && entradaEspecifica.Observacion === ''">Observaciones: N/A</p>
          </div>
        </div>

      </div>

      <h5 class="pt-4 pb-4" *ngIf="detalle">{{'GLOBAL.elementos_entrada' | translate}}</h5>

      <ngx-tabla-entradas [actaRecibidoId]="actaRecibidoId" *ngIf="detalle"></ngx-tabla-entradas>

      <div class="pt-4">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="detalle = !detalle"
          *ngIf="detalle">{{'GLOBAL.volver' | translate}}
        </button>
      </div>

    </nb-card-body>
  </nb-card>
</div>