<h3 class="pt-4 pb-4">Entrada por Sobrante de Inventario</h3>

<!-- FORMULARIO -->
<nb-stepper #stepper orientation="horizontal">

  <!-- SOLICITANTE -->
  <nb-step [stepControl]="solicitanteForm" label="Solicitante">
    <h5>Solicitante</h5>
    <form [formGroup]="solicitanteForm" (ngSubmit)="onSolicitanteSubmit()" class="step-container">
      <div class="row">
        <div class="form-group col-sm">
          <label>Nombres y Apellidos</label>
          <div class="input-group">
            <input nbInput type="text" placeholder="Nombre Completo" class="form-control"
              formControlName="solicitanteCtrl"
              [ngClass]="{'form-control-danger': solicitanteForm.invalid && (solicitanteForm.dirty || solicitanteForm.touched)}" />
          </div>
        </div>
      </div>
      <button nbButton nbStepperNext>Siguiente</button>
    </form>
  </nb-step>

  <!-- SOPORTE -->
  <nb-step [stepControl]="soporteForm" label="Soporte">
    <h5>Soporte</h5>
    <form [formGroup]="soporteForm" (ngSubmit)="onSoporteSubmit()" class="step-container">
      <div class="pb-3">
        <label>Acta de Producción</label>
        <input nbInput type="file" class="form-control-file" id="soporte" formControlName="soporteCtrl"
          [ngClass]="{'form-control-danger': soporteForm.invalid && (soporteForm.dirty || soporteForm.touched)}">
      </div>
      <button nbButton nbStepperPrevious>Anterior</button>
      <button nbButton nbStepperNext>Siguiente</button>
    </form>
  </nb-step>

  <!-- OBSERVACIONES -->
  <nb-step [stepControl]="observacionesForm" label="Observaciones">
    <h5>Observaciones</h5>
    <div class="row">
      <div class="form-group  col-lg-12">
        <div class="input-group">
          <textarea rows="5" placeholder="Observaciones" class="form-control"></textarea>
        </div>
      </div>
    </div>
    <button nbButton nbStepperPrevious>Anterior</button>
  </nb-step>

</nb-stepper>

<h5 class="pt-4">Elementos de Entrada</h5>
<ngx-tabla-entradas></ngx-tabla-entradas>

<div class="justify-content-center float-right pt-4">
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
    Registrar Entrada
  </button>
</div>