<h3 class="pt-4 pb-4">Entrada por Sobrante de Inventario</h3>
<p class="font-weight-bold font-italic pb-2">Acta de recibido # {{ actaRecibidoId }}</p>

<!-- FORMULARIO -->
<nb-stepper #stepper orientation="horizontal">

  <!-- SOLICITANTE -->
  <nb-step [stepControl]="solicitanteForm" label="{{'GLOBAL.solicitante' | translate}}">
    <h5>{{'GLOBAL.solicitante' | translate}}</h5>
    <form [formGroup]="solicitanteForm" class="step-container">
      <div class="row">
        <div class="form-group col-sm">
          <label>{{'GLOBAL.vigencia' | translate}}</label>
          <div class="input-group">
            <input nbInput shape="semi-round" placeholder="{{'GLOBAL.placeholder_fecha' | translate}}" formControlName="fechaCtrl"
              class="form-control" [nbDatepicker]="formpicker" required>
            <nb-datepicker (dateChange)="changeSolicitante($event)" #formpicker></nb-datepicker>
          </div>
        </div>
        <div class="form-group col-sm">
          <label>{{'GLOBAL.ordenador_gasto' | translate}}</label>
          <div class="input-group">
            <input nbInput (change)="changeOrdenador()" type="text" shape="semi-round"
              placeholder="{{'GLOBAL.ordenador_gasto' | translate}}" class="form-control" [readonly]="!solicitanteSelect"
              list="solicitanteList" formControlName="solicitanteCtrl"
              [ngClass]="{'form-control-danger': solicitanteForm.invalid && (solicitanteForm.dirty || solicitanteForm.touched)}" />
          </div>
        </div>
        <datalist id="solicitanteList">
          <option *ngFor="let item of ordenadores" value='{{ item.NombreOrdenador }}'></option>
        </datalist>
        <div class="form-group col-sm">
          <label>{{'GLOBAL.asignacion' | translate}}</label>
          <div class="input-group">
            <input nbInput shape="semi-round" type="text" placeholder="{{'GLOBAL.asignacion' | translate}}" value="{{ cargoOrdenador }}" class="form-control" [readonly]="true" />
          </div>
        </div>
      </div>
      <button type="button" (click)="onSolicitanteSubmit()" nbButton nbStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
    </form>
  </nb-step>

  <!-- SOPORTE -->
  <nb-step [stepControl]="soporteForm" label="{{'GLOBAL.soporte' | translate}}">
    <h5>{{'GLOBAL.soporte' | translate}}</h5>
    <form [formGroup]="soporteForm" class="step-container">
      <div class="pb-3">
        <label>{{'GLOBAL.acta_produccion' | translate}}</label>
        <input nbInput type="file" class="form-control-file" id="soporte" formControlName="soporteCtrl"
          [ngClass]="{'form-control-danger': soporteForm.invalid && (soporteForm.dirty || soporteForm.touched)}">
      </div>
      <button nbButton nbStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
      <button type="button" (click)="onSoporteSubmit()" nbButton nbStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
    </form>
  </nb-step>

  <!-- OBSERVACIONES -->
  <nb-step [stepControl]="observacionForm" label="{{'GLOBAL.observaciones' | translate}}">
    <form [formGroup]="observacionForm" class="step-container">
      <h5>{{'GLOBAL.observaciones' | translate}}</h5>
      <div class="row">
        <div class="form-group  col-lg-12">
          <div class="input-group">
            <textarea rows="5" shape="semi-round" placeholder="{{'GLOBAL.observaciones' | translate}}" class="form-control"
              formControlName="observacionCtrl"></textarea>
          </div>
        </div>
      </div>
      <button nbButton nbStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
      <button type="button" nbButton nbStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
    </form>
  </nb-step>

  <!-- FINALIZAR -->
  <nb-step [hidden]="true">
    <div class="step-container d-flex justify-content-center">
      <h3>{{'GLOBAL.datos_correctos' | translate}}!</h3>
    </div>
    <div class="step-container d-flex justify-content-center">
      <p>{{'GLOBAL.mensaje_registrar' | translate}}</p>
    </div>
  </nb-step>

</nb-stepper>

<h5 class="pt-4">{{'GLOBAL.elementos_entrada' | translate}}</h5>
<ngx-tabla-entradas [actaRecibidoId]="actaRecibidoId"></ngx-tabla-entradas>

<div class="justify-content-center float-right pt-4">
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
    (click)="onSubmit()">
    {{'GLOBAL.registrar_entrada' | translate}}
  </button>
</div>