:host /deep/ ng2-st-tbody-edit-delete {
display: none !important;
height: 0 !important;
}
:host /deep/ ng2-st-tbody-create-cancel {
  display: none !important;
  height: 0 !important;
  }

:host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
display: table-row-group;
align-items: center;
}

:host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
color: #5dcfe3;
}
