<div class="col-lg-12">
  <nb-card>
    <nb-card-header>Actas de Recibido</nb-card-header>
    <nb-card-body>

      <table class="table text-center">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Consecutivo</th>
            <th scope="col">Fecha de Creacion</th>
            <th scope="col">Fecha Visto Bueno</th>
            <th scope="col">Revisor</th>
            <th scope="col">Estado</th>
            <th scope="col">Ubicacion</th>
            <th scope="col">No de Factura</th>
            <th scope="col">Fecha Factura</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Observaciones</th>
            <th scope="col">Acciónes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">00-123</th>
            <td>03/06/2019</td>
            <td>07/06/2019</td>
            <td>Revisor 1</td>
            <td>Estado 2</td>
            <td>Laboratorios Ingenieria</td>
            <td>QW-124324-1234</td>
            <td>03/06/2019</td>
            <td>Dell</td>
            <td>
              lorem ipsum lorem ipsum lorem
            </td>
            <td>
                <i class="fas fa-eye" nbPopover="Ver" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-pencil-alt" nbPopover="Editar" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-trash-alt" nbPopover="Anular" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-play" nbPopover="Enviar a Revisor" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-forward" nbPopover="Enviar a Jefe de Area" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-tasks" nbPopover="Verificar" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
              </td>
          </tr>
          <tr>
            <th scope="row">00-124</th>
            <td>03/06/2019</td>
            <td>07/06/2019</td>
            <td>Revisor 1</td>
            <td>Estado 2</td>
            <td>Laboratorios Macarena</td>
            <td>QW-124324-1234</td>
            <td>03/06/2019</td>
            <td>Dell</td>
            <td>Listo para revision</td>
            <td>
                <i class="fas fa-eye" nbPopover="Ver" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-pencil-alt" nbPopover="Editar" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-trash-alt" nbPopover="Anular" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-play" nbPopover="Enviar a Revisor" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-forward" nbPopover="Enviar a Jefe de Area" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-tasks" nbPopover="Verificar" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
              </td>
          </tr>
          <tr>
            <th scope="row">00-125</th>
            <td>03/06/2019</td>
            <td>07/06/2019</td>
            <td>Revisor 3</td>
            <td>Estado 1</td>
            <td>Oficina Asesora de Sistemas</td>
            <td>QW-124324-1234</td>
            <td>03/06/2019</td>
            <td>Dell</td>
            <td>En proceso debido a un error de factura</td>
            <td>
                <i class="fas fa-eye" nbPopover="Ver" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-pencil-alt" nbPopover="Editar" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-trash-alt" nbPopover="Anular" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-play" nbPopover="Enviar a Revisor" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-forward" nbPopover="Enviar a Jefe de Area" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-tasks" nbPopover="Verificar" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
              </td>
          </tr>
          <tr>
            <th scope="row">00-126</th>
            <td>03/06/2019</td>
            <td>07/06/2019</td>
            <td>Revisor 3</td>
            <td>Estado 1</td>
            <td>Oficina Asesora de Sistemas</td>
            <td>QW-124324-1234</td>
            <td>03/06/2019</td>
            <td>Dell</td>
            <td>En proceso debido a un error de factura</td>
            <td>
                <i class="fas fa-eye" nbPopover="Ver" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-pencil-alt" nbPopover="Editar" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-trash-alt" nbPopover="Anular" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-play" nbPopover="Enviar a Revisor" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-forward" nbPopover="Enviar a Jefe de Area" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-tasks" nbPopover="Verificar" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
              </td>
          </tr>
          <tr>
            <th scope="row">00-127</th>
            <td>03/06/2019</td>
            <td>07/06/2019</td>
            <td>Revisor 3</td>
            <td>Estado 1</td>
            <td>Oficina Asesora de Sistemas</td>
            <td>QW-124324-1234</td>
            <td>03/06/2019</td>
            <td>Dell</td>
            <td>En proceso debido a un error de factura</td>
            <td>
                <i class="fas fa-eye" nbPopover="Ver" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-pencil-alt" nbPopover="Editar" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-trash-alt" nbPopover="Anular" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-play" nbPopover="Enviar a Revisor" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-forward" nbPopover="Enviar a Jefe de Area" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-tasks" nbPopover="Verificar" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
              </td>
          </tr>
          <tr>
            <th scope="row">00-128</th>
            <td>03/06/2019</td>
            <td>07/06/2019</td>
            <td>Revisor 3</td>
            <td>Estado 1</td>
            <td>Oficina Asesora de Sistemas</td>
            <td>QW-124324-1234</td>
            <td>03/06/2019</td>
            <td>Dell</td>
            <td>En proceso debido a un error de factura</td>
            <td>
                <i class="fas fa-eye" nbPopover="Ver" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-pencil-alt" nbPopover="Editar" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-trash-alt" nbPopover="Anular" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-play" nbPopover="Enviar a Revisor" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-forward" nbPopover="Enviar a Jefe de Area" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
                <i class="fas fa-tasks" nbPopover="Verificar" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"></i>
                &nbsp;
              </td>
          </tr>
        </tbody>
      </table>

      <div class="justify-content-center float-right">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          {{'GLOBAL.regresar' | translate}}
        </button>
      </div>

    </nb-card-body>
  </nb-card>
</div>