<div class="col-lg-12">
  <nb-card *ngIf="actaSeleccionada === ''">
    <nb-card-header>Actas de Recibido</nb-card-header>
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)"></ng2-smart-table>
    </nb-card-body>
    <nb-card-footer>
      <div class="justify-content-center float-right">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
          (click)="onRegister()">
          {{'GLOBAL.regresar' | translate}}
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
  <ngx-ver-detalle *ngIf=" accion === 'Ver'" [Id_Acta]="actaSeleccionada"></ngx-ver-detalle>
  <ngx-edicion-acta-recibido *ngIf=" accion === 'Editar' && estadoActaSeleccionada === 'En Elaboracion'" [Id_Acta]="actaSeleccionada"></ngx-edicion-acta-recibido>
  <ngx-edicion-acta-recibido *ngIf=" accion === 'Editar' && estadoSeleccionada === 'En Modificacion'" [Id_Acta]="actaSeleccionada"></ngx-edicion-acta-recibido>
  <ngx-verificacion-acta-recibido *ngIf=" accion === 'Editar' && estadoActaSeleccionada === 'En Verificacion'" [Id_Acta]="actaSeleccionada"></ngx-verificacion-acta-recibido>
</div>