<div class="container">
  <div class="col-xl">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h2 class = "card-title">Lista de proveedores</h2>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <div class="example-form">
              <mat-form-field>
                <input type="number" [(ngModel)]="identificacion_proveedor" matInput placeholder="Identificación del proveedor">
              </mat-form-field>
            </div>
          </div> 
          <div class="col-md-auto">
              <div class="example-form">
                <mat-form-field>
                  <input type="number" [(ngModel)]="numero_contrato" matInput placeholder="Numero de contrato">
                </mat-form-field>
              </div>
          </div>
          <div class="col-md-auto"> 
            <mat-form-field>
                <mat-select placeholder="Vigencia" [(ngModel)]="vigencia">
                  <mat-option *ngFor="let vigencia of vigencias" [value]="vigencia">
                    {{vigencia}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <button (click)="filtro()" nbButton>Filtrar</button>
          </div> 
          <div class="col-md-auto">
            <button nbButton disabled>Limpiar Filtro</button>
          </div>
        </div>       
      </div>
    </div>
  </div>
</div>
<ng-template #contentTemplate let-data>
  <p>{{ data.text }}</p>
</ng-template>
