<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <h2 class="card-title">Votación</h2>
      </div>
    </div>
    <div class="row justify-content-md-center">

      <div class="col-md-auto">
        <mat-form-field class="example-full-width">
          <mat-label>Fecha de Corte</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- Select de tipo de filtro -->
      <div class="col-md-auto">
        <mat-form-field>
          <mat-label>Tipo de Filtro</mat-label>
          <mat-select (selectionChange)="filterChanged()" [(ngModel)]="filtroSelecionado" name="tipo Filtro">
            <mat-option *ngFor="let filtro of filtros" [value]="filtro.viewValue">
              {{filtro.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Select de Facultad -->
      <div class="col-md-auto" *ngIf="filtroSelecionado=='Facultad'">
        <mat-form-field>
          <mat-label>Facultad</mat-label>
          <mat-select [(ngModel)]="facultadSelecionada" name="tipo Filtro">
            <mat-option *ngFor="let facultad of Facultades" [value]="facultad.viewValue">
              {{facultad.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Select de Tipo Carrera -->
      <div class="col-md-auto" *ngIf="filtroSelecionado=='Tipo Carrera'">
        <mat-form-field>
          <mat-label>Tipo Carrera</mat-label>
          <mat-select [(ngModel)]="tipoCarreraSelecionada" name="tipo Filtro">
            <mat-option *ngFor="let tipoCarrera of TiposCarreras" [value]="tipoCarrera.viewValue">
              {{tipoCarrera.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <!-- List de Participantes -->
      <div class="col-md-12">
        <h4>Participantes</h4>
        <mat-nav-list>
          <mat-list-item *ngFor="let participante of participantesList"> {{ participante }} </mat-list-item>
        </mat-nav-list>
      </div>     
    </div>
    <div class="row">
      <div class="col-6" style="text-align: left">
        <button (click)="regresar()" nbButton>Regresar</button>
      </div>
      <div class="col-6" style="text-align: right">
        <button (click)="filtro()" nbButton>Ejecución de script</button>
      </div>
    </div>
    
  </div>
</div>
<ng-template #contentTemplate let-data>
  <h4>{{ data.text }}</h4>
</ng-template>