<div class="col-lg-12">
  <form [formGroup]="firstForm" #fform="ngForm" class="step-container">
    <nb-card>
      <nb-card-header>Registrar Acta Recibido</nb-card-header>
      <nb-card-body *ngIf="firstForm">
        <mat-vertical-stepper [linear]="true" #stepper>
          <mat-step label="Datos Iniciales" formGroupName="Formulario1">
            <nb-card>
              <nb-card-header>Datos Iniciales de Recibido</nb-card-header>
              <nb-card-body>
                <div class="row">
                  <div class="form-group col-sm">
                    <label>Sede</label>
                    <select class="form-control" formControlName="Sede" required>
                      <option>Sede 1</option>
                      <option>Sede 2</option>
                      <option>Sede 3</option>
                      <option>Sede 4</option>
                      <option>Sede 5</option>
                    </select>
                  </div>
                  <div class="form-group col-sm">
                    <label>Dependencia</label>
                    <select class="form-control" formControlName="Dependencia" required>
                      <option>Dependencia 1</option>
                      <option>Dependencia 2</option>
                      <option>Dependencia 3</option>
                      <option>Dependencia 4</option>
                      <option>Dependencia 5</option>
                    </select>
                  </div>
                  <div class="form-group col-sm">
                    <label>Ubicación</label>
                    <select class="form-control" formControlName="Ubicacion" required>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <button nbButton matStepperNext [disabled]="!firstForm.get('Formulario1').valid"
              class="float-right">Siguiente</button>
          </mat-step>
          <mat-step label="Datos de Soporte" formArrayName="Formulario2">
            <nb-card>
              <nb-card-header></nb-card-header>
              <nb-card-body>
                <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                  <mat-tab *ngFor="let soporte of firstForm.get('Formulario2').controls; let i = index"
                    [formGroupName]="i">
                    <ng-template mat-tab-label>
                      Soporte &nbsp; {{i + 1}} &nbsp; &nbsp; &nbsp; &nbsp;<i class="fas fa-window-close"
                        (click)="removeTab(i)"></i>
                    </ng-template>
                    <div>
                      <nb-card>
                        <nb-card-header>Datos de Soporte</nb-card-header>
                        <nb-card-body>
                          <div class="row">
                            <div class="form-group col-sm">
                              <label>Proveedor</label>
                              <div class="input-group">
                                <input type="text" placeholder="NIT o Razón social" class="form-control"
                                  formControlName="Proveedor" required>
                              </div>
                            </div>
                            <div class="form-group col-sm">
                              <label>Consecutivo de Factura o de Soporte</label>
                              <div class="input-group">
                                <input nbInput type="text" placeholder="Consecutivo" class="form-control"
                                  formControlName="Consecutivo" required>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group col-sm">
                              <label>Fecha de Factura o de Soporte</label>
                              <div class="input-group">
                                <input nbInput placeholder="Selecciona la Fecha" class="form-control"
                                  [nbDatepicker]="formpicker" formControlName="Fecha_Factura" required>
                                <nb-datepicker #formpicker></nb-datepicker>
                              </div>
                            </div>
                            <div class="form-group col-sm">
                              <label>Factura o Soporte a Relacionar</label>
                              <input nbInput type="file" class="form-control-file" id="factura"
                                formControlName="Soporte" required>
                            </div>
                          </div>
                        </nb-card-body>
                      </nb-card>

                      <ngx-capturar-elementos (DatosEnviados)="ver($event, i)">
                      </ngx-capturar-elementos>
                      
                    </div>
                  </mat-tab>
                  <mat-tab [disabled]="true">
                    <ng-template mat-tab-label>
                      <i class="fas fa-plus-square fa-2x" (click)="addTab()"></i>
                    </ng-template>
                  </mat-tab>
                </mat-tab-group>
              </nb-card-body>
            </nb-card>
            <div class="justify-content-center">
              <button nbButton matStepperPrevious>Anterior</button>
              <button nbButton matStepperNext (click)="Revisar_Totales()" [disabled]="!firstForm.get('Formulario1').valid || !firstForm.get('Formulario2').valid"
                class="float-right">Siguiente</button>
            </div>
          </mat-step>
          <mat-step label="Datos Adicionales" formGroupName="Formulario3">
            <nb-card>
              <nb-card-header>Gran Consolidado</nb-card-header>
              <nb-card-body>
                <table class="table text-center">
                  <tr>
                    <td class="thead-dark">Gran Subtotal</td>
                    <td>14'000.000</td>
                  </tr>
                  <tr>
                    <td class="thead-dark">Gran Descuentos</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td class="thead-dark">Gran IVA</td>
                    <td>1'900.000</td>
                  </tr>
                  <tr>
                    <td class="thead-dark">Gran Total</td>
                    <td>15'900.000</td>
                  </tr>
                </table>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-header>Datos Adicionales</nb-card-header>
              <nb-card-body>
                <div class="form-group  col-lg-12">
                  <label>Observaciones</label>
                  <div class="input-group">
                    <textarea rows="5"
                      placeholder="Proporciona datos adicionales que no se pueden expresar en el formulario"
                      class="form-control" formControlName="Datos_Adicionales" required></textarea>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <div class="justify-content-center">
              <button nbButton matStepperPrevious>Anterior</button>
              <button nbButton matStepperNext (click)="Revisar_Totales2()" [disabled]="!firstForm.get('Formulario3').valid || !firstForm.get('Formulario2').valid || !firstForm.get('Formulario3').valid"
                class="float-right">Guardar Cambios</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </nb-card-body>
    </nb-card>
  </form>
</div>
