<div *ngIf="!firstForm" [nbSpinner]="!firstForm">
  <nb-card>
    <nb-card-header>

    </nb-card-header>
    <nb-card-body>

    </nb-card-body>
  </nb-card>
</div>
<div class="col-lg-12">
  <form [formGroup]="firstForm" #fform="ngForm" class="step-container" *ngIf="firstForm">
    <nb-card>
      <nb-card-header>{{'GLOBAL.Acta_Recibido.DetalleActa.Title' | translate}}</nb-card-header>
      <nb-card-body>
        <nb-card formGroupName="Formulario1">
          <nb-card-header>{{'GLOBAL.Acta_Recibido.DetalleActa.DatosTitle' | translate}}</nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="form-group col-sm">
                <label>{{'GLOBAL.Acta_Recibido.DetalleActa.Sede' | translate}}</label>
                <input class="form-control" formControlName="Sede" readonly>
              </div>
              <div class="form-group col-sm">
                <label>{{'GLOBAL.Acta_Recibido.DetalleActa.Dependencia' | translate}}</label>
                <input class="form-control" formControlName="Dependencia" readonly>
              </div>
              <div class="form-group col-sm">
                <label>{{'GLOBAL.Acta_Recibido.DetalleActa.Ubicacion' | translate}}</label>
                <input class="form-control" formControlName="Ubicacion" readonly>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card formArrayName="Formulario2">
          <nb-card-header>{{'GLOBAL.Acta_Recibido.DetalleActa.SoporteTitle' | translate}}</nb-card-header>
          <nb-card-body>
            <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
              <mat-tab *ngFor="let soporte of firstForm.get('Formulario2').controls; let i = index" [formGroupName]="i">
                <ng-template mat-tab-label>
                  {{'GLOBAL.Acta_Recibido.DetalleActa.SoporteSubTitle' | translate}} &nbsp; {{i + 1}}
                </ng-template>
                <div>
                  <nb-card>
                    <nb-card-body>
                      <div class="row">
                        <div class="form-group col-sm">
                          <label>{{'GLOBAL.Acta_Recibido.DetalleActa.Proveedor' | translate}}</label>
                          <div class="input-group">
                            <input type="text" placeholder="NIT o Razón social" class="form-control"
                              formControlName="Proveedor" readonly>
                          </div>
                        </div>
                        <div class="form-group col-sm">
                          <label>{{'GLOBAL.Acta_Recibido.DetalleActa.Consecutivo' | translate}}</label>
                          <div class="input-group">
                            <input nbInput type="text" placeholder="Consecutivo" class="form-control"
                              formControlName="Consecutivo" readonly>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm">
                          <label>{{'GLOBAL.Acta_Recibido.DetalleActa.FechaSoporte' | translate}}</label>
                          <div class="input-group">
                            <input nbInput placeholder="Selecciona la Fecha" class="form-control"
                              [nbDatepicker]="formpicker" formControlName="Fecha_Factura" readonly>
                            <nb-datepicker #formpicker></nb-datepicker>
                          </div>
                        </div>
                        <div class="form-group col-sm">
                          <label>{{'GLOBAL.Acta_Recibido.DetalleActa.Soporte' | translate}}</label>
                          <input nbInput type="file" class="form-control-file" id="factura" formControlName="Soporte"
                            required>
                        </div>
                      </div>
                    </nb-card-body>
                  </nb-card>
                  <nb-card>
                    <nb-card-header>{{'GLOBAL.Acta_Recibido.DetalleActa.ArticulosRelacionadosTitle' | translate}}
                    </nb-card-header>
                    <nb-card-body>
                      <div class="example-container mat-elevation-z8">
                        <table mat-table #MatTable formArrayName="Elementos"
                          [dataSource]='soporte.get("Elementos").controls'>

                          <!-- Tipo de Bien -->
                          <ng-container matColumnDef="TipoBienId">
                            <th mat-header-cell *matHeaderCellDef>
                              {{'GLOBAL.Acta_Recibido.DetalleActa.TipoBienHeader' | translate}}</th>
                            <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
                              <input nbInput type="text" fieldSize="tiny" class="cell-2" formControlName="TipoBienId"
                                placeholder="Subcatalogo" readonly>
                          </ng-container>
                          <!-- Subgrupo Catalogo -->
                          <ng-container matColumnDef="SubgrupoCatalogoId">
                            <th mat-header-cell *matHeaderCellDef>
                              {{'GLOBAL.Acta_Recibido.DetalleActa.SubgrupoHeader' | translate}}</th>
                            <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
                              <input nbInput type="text" fieldSize="tiny" class="cell-2"
                                formControlName="SubgrupoCatalogoId" placeholder="Subcatalogo" readonly>
                            </td>
                          </ng-container>

                          <!-- Nombre Catalogo -->
                          <ng-container matColumnDef="Nombre">
                            <th mat-header-cell *matHeaderCellDef>
                              {{'GLOBAL.Acta_Recibido.DetalleActa.DescripcionHeader' | translate}}</th>
                            <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
                              <input nbInput type="text" fieldSize="tiny" class="cell-2" formControlName="Nombre"
                                placeholder="Descripcion" readonly>

                            </td>
                          </ng-container>

                          <!-- Cantidad Column -->
                          <ng-container matColumnDef="Cantidad">
                            <th mat-header-cell *matHeaderCellDef>
                              {{'GLOBAL.Acta_Recibido.DetalleActa.CantidadHeader' | translate}}</th>
                            <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
                              <input nbInput type="text" fieldSize="tiny" class="cell" formControlName="Cantidad"
                                placeholder="Cantidad" readonly>
                            </td>
                          </ng-container>

                          <!-- Marca Column -->
                          <ng-container matColumnDef="Marca">
                            <th mat-header-cell *matHeaderCellDef>
                              {{'GLOBAL.Acta_Recibido.DetalleActa.MarcaHeader' | translate}}</th>
                            <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
                              <input nbInput type="text" fieldSize="tiny" class="cell-2" formControlName="Marca"
                                placeholder="Marca" readonly>
                            </td>
                          </ng-container>

                          <!-- Serie Column -->
                          <ng-container matColumnDef="Serie">
                            <th mat-header-cell *matHeaderCellDef>
                              {{'GLOBAL.Acta_Recibido.DetalleActa.SerieHeader' | translate}}</th>
                            <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
                              <input nbInput type="text" fieldSize="tiny" class="cell-2" formControlName="Serie"
                                placeholder="Serie" readonly>
                            </td>
                          </ng-container>

                          <!-- UnidadMedida Column -->
                          <ng-container matColumnDef="UnidadMedida">
                            <th mat-header-cell *matHeaderCellDef>
                              {{'GLOBAL.Acta_Recibido.DetalleActa.UnidadMedidaHeader' | translate}}</th>
                            <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
                              <input nbInput type="text" fieldSize="tiny" class="cell-2" formControlName="UnidadMedida"
                                placeholder="Medida" readonly>
                            </td>
                          </ng-container>

                          <!-- ValorUnitario Column -->
                          <ng-container matColumnDef="ValorUnitario">
                            <th mat-header-cell *matHeaderCellDef>
                              {{'GLOBAL.Acta_Recibido.DetalleActa.ValorUnitarioHeader' | translate}}</th>
                            <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
                              <input nbInput type="text" fieldSize="tiny" class="cell" formControlName="ValorUnitario"
                                placeholder="Valor Unitario" readonly>
                            </td>
                          </ng-container>

                          <!-- Subtotal Column -->
                          <ng-container matColumnDef="Subtotal">
                            <th mat-header-cell *matHeaderCellDef>
                              {{'GLOBAL.Acta_Recibido.DetalleActa.SubtotalHeader' | translate}}</th>
                            <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
                              <input nbInput type="text" fieldSize="tiny" class="cell" formControlName="Subtotal"
                                placeholder="Subtotal" readonly>
                            </td>
                          </ng-container>

                          <!-- Descuento Column -->
                          <ng-container matColumnDef="Descuento">
                            <th mat-header-cell *matHeaderCellDef>
                              {{'GLOBAL.Acta_Recibido.DetalleActa.DescuentoHeader' | translate}}</th>
                            <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
                              <input nbInput type="text" fieldSize="tiny" class="cell" formControlName="Descuento"
                                placeholder="Descuento" readonly>
                            </td>
                          </ng-container>

                          <!-- PorcentajeIvaId Column -->
                          <ng-container matColumnDef="PorcentajeIvaId">
                            <th mat-header-cell *matHeaderCellDef>
                              {{'GLOBAL.Acta_Recibido.DetalleActa.IVAHeader' | translate}}</th>
                            <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
                              <input nbInput type="text" fieldSize="tiny" class="cell-2"
                                formControlName="PorcentajeIvaId" placeholder="% IVA" readonly>
                            </td>
                          </ng-container>

                          <!-- ValorIva Column -->
                          <ng-container matColumnDef="ValorIva">
                            <th mat-header-cell *matHeaderCellDef>
                              {{'GLOBAL.Acta_Recibido.DetalleActa.ValorIVAHeader' | translate}}</th>
                            <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
                              <input nbInput type="text" fieldSize="tiny" class="cell" formControlName="ValorIva"
                                placeholder="Valor Iva" readonly>
                            </td>
                          </ng-container>

                          <!-- ValorTotal Column -->
                          <ng-container matColumnDef="ValorTotal">
                            <th mat-header-cell *matHeaderCellDef>
                              {{'GLOBAL.Acta_Recibido.DetalleActa.ValorTotalHeader' | translate}}</th>
                            <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
                              <input nbInput type="text" fieldSize="tiny" class="cell" formControlName="ValorTotal"
                                placeholder="Valor Total" readonly>
                            </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                      </div>
                    </nb-card-body>
                  </nb-card>
                </div>
              </mat-tab>

            </mat-tab-group>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>{{'GLOBAL.Acta_Recibido.DetalleActa.Consolidado' | translate}}</nb-card-header>
          <nb-card-body>
            <table>
              <tr>
                <td class="cell-3"></td>
                <td class="cell-3"></td>
                <td class="cell-3">{{'GLOBAL.Acta_Recibido.DetalleActa.Subtotal' | translate}}</td>
                <td class="cell-3"></td>
                <td class="cell-3">{{getGranSubtotal() | currency}}</td>
                <td class="cell-3"></td>
                <td class="cell-3"></td>
              </tr>
              <tr>
                <td class="cell-3"></td>
                <td class="cell-3"></td>
                <td class="cell-3">{{'GLOBAL.Acta_Recibido.DetalleActa.Descuento' | translate}}</td>
                <td class="cell-3"></td>
                <td class="cell-3">{{getGranDescuentos() | currency}}</td>
                <td class="cell-3"></td>
                <td class="cell-3"></td>
              </tr>
              <tr>
                <td class="cell-3"></td>
                <td class="cell-3"></td>
                <td class="cell-3">{{'GLOBAL.Acta_Recibido.DetalleActa.ValorIva' | translate}}</td>
                <td class="cell-3"></td>
                <td class="cell-3">{{getGranValorIva() | currency}}</td>
                <td class="cell-3"></td>
                <td class="cell-3"></td>
              </tr>
              <tr>
                <td class="cell-3"></td>
                <td class="cell-3"></td>
                <td class="cell-3">{{'GLOBAL.Acta_Recibido.DetalleActa.Total' | translate}}</td>
                <td class="cell-3"></td>
                <td class="cell-3">{{getGranTotal() | currency}}</td>
                <td class="cell-3"></td>
                <td class="cell-3"></td>
              </tr>
            </table>
          </nb-card-body>
        </nb-card>
        <nb-card formGroupName="Formulario3">
          <nb-card-header>{{'GLOBAL.Acta_Recibido.DetalleActa.DatosAdicionales' | translate}}</nb-card-header>
          <nb-card-body>
            <div class="form-group  col-lg-12">
              <label>{{'GLOBAL.Acta_Recibido.DetalleActa.Observaciones' | translate}}</label>
              <div class="input-group">
                <textarea rows="5"
                  placeholder="Proporciona datos adicionales que no se pueden expresar en el formulario"
                  class="form-control" formControlName="Datos_Adicionales" readonly></textarea>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-card-body>
    </nb-card>
  </form>
</div>