<nb-card>
  <nb-card-header>Entrada de Bienes de Terceros</nb-card-header>
  <nb-card-body>

    <nb-card>
      <nb-card-header>Consultar Acta de Recibido</nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="form-group col-sm">
            <label>Número de Acta</label>
            <select class="form-control">
              <option>1234</option>
              <option>5678</option>
              <option>9012</option>
            </select>
          </div>
          <div class="form-group col-sm">
            <label>NIT y/o Proveedor</label>
            <div class="input-group">
              <input type="text" placeholder="NIT y/o Proveedor" class="form-control" />
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Fecha de Registro</label>
            <div class="input-group">
              <input nbInput placeholder="Selecciona la Fecha" class="form-control" [nbDatepicker]="formpicker">
              <nb-datepicker #formpicker></nb-datepicker>
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Datos Contrato</nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="form-group col-sm">
            <label>Número de Contrato</label>
            <div class="input-group">
              <input type="text" placeholder="Contrato" class="form-control" />
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Tipo de Contrato</label>
            <div class="input-group">
              <input type="text" placeholder="Tipo Contrato" class="form-control" disabled />
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Fecha de Contrato</label>
            <div class="input-group">
              <input type="text" placeholder="15-06-2019" class="form-control" disabled />
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Factura</nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="form-group col-sm">
            <label>Proveedor</label>
            <div class="input-group">
              <input type="text" placeholder="NIT y/o Proveedor" class="form-control" disabled />
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Número de Factura</label>
            <div class="input-group">
              <input type="text" placeholder="Factura #000-000-000" class="form-control" disabled />
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Fecha de Factura</label>
            <div class="input-group">
              <input type="text" placeholder="15-06-2019" class="form-control" disabled>
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Ordenador de Gasto</nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="form-group col-sm">
            <label>Nombres y Apellidos</label>
            <div class="input-group">
              <input type="text" placeholder="Nombres y Apellidos" class="form-control" disabled />
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Asignación</label>
            <div class="input-group">
              <input type="text" placeholder="Cargo" class="form-control" disabled />
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Tercero en Administración</label>
            <select class="form-control">
              <option>IDEXUD</option>
              <option>CICD</option>
              <option>I+3</option>
            </select>
          </div>
        </div>

      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Supervisor</nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="form-group col-sm">
            <label>NIT y/o Nombre Supervisor</label>
            <div class="input-group">
              <input type="text" placeholder="NIT y/o Nombre" class="form-control" disabled />
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Sede</label>
            <div class="input-group">
              <input type="text" placeholder="Sede" class="form-control" disabled />
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Dependencia</label>
            <div class="input-group">
              <input type="text" placeholder="Dependencia" class="form-control" disabled />
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Elementos de Contrato</nb-card-header>
      <nb-card-body>

        <table class="table text-center">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tipo de Bien</th>
              <th scope="col">Subgrupo</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Marca</th>
              <th scope="col">Serie</th>
              <th scope="col">Unidad de Medida</th>
              <th scope="col">Valor Unitario</th>
              <th scope="col">Valor por Cantidad</th>
              <th scope="col">Descuento</th>
              <th scope="col"> % IVA</th>
              <th scope="col">Valor IVA</th>
              <th scope="col">Valor Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Consumo Controlado</td>
              <td>235-Equipo y Maquinaria</td>
              <td>Computador HP</td>
              <td>1</td>
              <td>Compaq</td>
              <td>1212-2017</td>
              <td>Unidades</td>
              <td>4'000.000</td>
              <td>4'000.000</td>
              <td>0</td>
              <td>10%</td>
              <td>200.000</td>
              <td>4'200.000</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Consumo Controlado</td>
              <td>235-Equipo y Maquinaria</td>
              <td>Computador HP</td>
              <td>1</td>
              <td>Compaq</td>
              <td>1212-2017</td>
              <td>Unidades</td>
              <td>4'000.000</td>
              <td>4'000.000</td>
              <td>0</td>
              <td>10%</td>
              <td>200.000</td>
              <td>4'200.000</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Consumo Controlado</td>
              <td>235-Equipo y Maquinaria</td>
              <td>Computador HP</td>
              <td>1</td>
              <td>Compaq</td>
              <td>1212-2017</td>
              <td>Unidades</td>
              <td>4'000.000</td>
              <td>4'000.000</td>
              <td>0</td>
              <td>10%</td>
              <td>200.000</td>
              <td>4'200.000</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Consumo Controlado</td>
              <td>235-Equipo y Maquinaria</td>
              <td>Computador HP</td>
              <td>1</td>
              <td>Compaq</td>
              <td>1212-2017</td>
              <td>Unidades</td>
              <td>4'000.000</td>
              <td>4'000.000</td>
              <td>0</td>
              <td>10%</td>
              <td>200.000</td>
              <td>4'200.000</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Subtotal</td>
              <td>14'400.000</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Descuento</td>
              <td>0</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>IVA</td>
              <td>1'080.000</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Total</td>
              <td>15'480.000</td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <nb-card>
          <nb-card-header>Observaciones</nb-card-header>
          <nb-card-body>

            <div class="row">
              <div class="form-group  col-lg-12">
                <div class="input-group">
                  <textarea rows="5" placeholder="Observaciones" class="form-control"></textarea>
                </div>
              </div>
            </div>

          </nb-card-body>
        </nb-card>

      </nb-card-body>
    </nb-card>

    <div class="justify-content-center">
      <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        Registrar Entrada
      </button>
    </div>

  </nb-card-body>
</nb-card>