<div class="col-lg-12">
  <nb-card>
    <nb-card-header>Solicitar Baja de Elementos</nb-card-header>
    <nb-card-body>

      <nb-card>
        <nb-card-header>Información del solicitante</nb-card-header>
        <nb-card-body>

          <div class="row">
            <div class="form-group col-lg-12">
              <label>Funcionario</label>
              <div class="input-group">
                <input type="text" placeholder="Ingrese al menos 3 carácteres de búsqueda" class="form-control" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm">
              <label>Sede</label>
              <select class="form-control">
                <option>Calle 40</option>
                <option>Calle 34</option>
                <option>Aduanilla de Paiba</option>
                <option>Ciudadela Universitaria Bosa Porvenir</option>
                <option>Macarena A</option>
              </select>
            </div>
            <div class="form-group col-sm">
              <label>Dependencia</label>
              <select class="form-control">
                <option>Almacén General e Inventarios</option>
                <option>Centro de Bienestar Institucional</option>
                <option>Centro de Investigaciones y Desarrollo Científico</option>
                <option>Centro de Relaciones Interinstitucionales – CERI </option>
                <option>Coordinación General de Autoevaluación y Acreditación</option>
              </select>
            </div>
            <div class="form-group col-sm">
              <label>Ubicación Específica</label>
              <select class="form-control">
                <option>Ubicación 1</option>
                <option>Ubicación 2</option>
                <option>Ubicación 3</option>
                <option>Ubicación 4</option>
                <option>Ubicación 5</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-12">
              <label>Número de Placa</label>
              <div class="input-group">
                <input type="text" placeholder="Número de Placa" class="form-control" />
              </div>
            </div>
          </div>

          <div class="justify-content-center">
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
              Añadir Elemento
            </button>
          </div>

        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>Solicitudes</nb-card-header>
        <nb-card-body>

          <table class="table text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Número Salida y/o Vigencia</th>
                <th scope="col">Número Placa</th>
                <th scope="col">Entrada</th>
                <th scope="col">Salida</th>
                <th scope="col">Descripción</th>
                <th scope="col">ID Funcionario</th>
                <th scope="col">Nombre Funcionario</th>
                <th scope="col">Dependencia</th>
                <th scope="col">Sede</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Estado</th>
                <th scope="col">Tipo Baja</th>
                <th scope="col">Soporte</th>
                <th scope="col">Solicitar Baja</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>9080-(2011)</td>
                <td>401215</td>
                <td>00-123</td>
                <td>00-123</td>
                <td>Monitor HP</td>
                <td>99999999</td>
                <td>Nombre Apellido</td>
                <td>Licenciatura en Física</td>
                <td>Macarena A</td>
                <td>Laboratorio Macarena FINA I</td>
                <td>235-Equipo y Maquinaria</td>
                <td>
                  <select class="form-control">
                    <option>Reporte Hurto</option>
                    <option>Inservible y/o Daño</option>
                  </select>
                </td>
                <td>
                  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                    Cargar
                  </button>
                </td>
                <td>
                  <nb-checkbox status="success"></nb-checkbox>
                </td>
              </tr>
            </tbody>
          </table>

        </nb-card-body>
      </nb-card>

      <div class="justify-content-center">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Enviar Solicitud
        </button>
      </div>

    </nb-card-body>
  </nb-card>
</div>