<p>
  usted esta en el componente de consulta-evaluacion
</p>
<p>la identificacion del proveedor es:  {{identificacionProveedor}} con el tipo de documento {{tipodocumento}} </p>

<div class="container">
  <div class="col-xl">
    <div *ngIf="this.componenteVer==false&&this.componenteRealizar==false">
      <!-- <ngx-filtro (dataResponse)="guardarDatosConsulta($event)"></ngx-filtro> -->
      <ngx-tabla-busqueda [dataContratos]="this.data" (dataView)="verEvaluacion($event)"
        (dataToDo)="relizarEvaluacion($event)"></ngx-tabla-busqueda>
    </div>
    <ngx-ver-evaluacion [dataContrato]="this.datosContratoAVer" (volverFiltro)="habilitarFiltro($event)" *ngIf="this.componenteVer==true"></ngx-ver-evaluacion>
    <ngx-realizar-evaluacion [dataContrato]="this.datosContratoAEvaluar" (volverFiltro)="habilitarFiltro($event)" *ngIf="this.componenteRealizar==true"></ngx-realizar-evaluacion>
  </div>
</div>

<ng-template #contentTemplate let-data>
  <h4>{{ data.text }}</h4>
</ng-template>