<div class="font-black">
  <div class="card card-margin" *ngIf="realizar == false">
    <div class="card-body">
      <div class="row">
        <div class="col-9">
          <H1>Ver Evaluación</H1>
        </div>
        <div class="col-3">
          <button (click)="imprimirEvalucion()" nbButton class="btn-right">
            Imprimir Evaluación
          </button>
        </div>
      </div>
      <!-- Div para los datos del contrato   -->
      <div class="row">
        <div class="col-4">
          <p>Puntaje Total de la evaluación</p>
          <label>{{ this.evaluacionRealizada.ValorFinal}}</label>
        </div>
        <div class="col-4">
          <p>Calificación</p>
          <div *ngFor="let clasificador of evaluacionRealizada['Clasificaciones']; let k = index">
            <label class="p-valor-item"
              *ngIf="evaluacionRealizada.ValorFinal >= clasificador.LimiteInferior && evaluacionRealizada.ValorFinal <= clasificador.LimiteSuperior">
              {{ clasificador['Nombre']  }}</label>
          </div>
        </div>
        <div class="col-4">
          <p>Dependencia que evalua</p>
          <label>{{this.dependencia}}</label>
        </div>
        <div class="col-4">
          <p>Fecha de la evaluación</p>
          <label>{{ this.fechaEvaluacion  | date }}</label>
        </div>
        <div class="col-4">
          <p>Nombre del supervisor encargado de la evulacion</p>
          <label>{{this.supervisor.Nombre}}</label>
        </div>
        <div class="col-4">
          <p>Cargo</p>
          <label>{{this.supervisor.Cargo}}</label>
        </div>
        <div class="col-4">
          <p>Empresa o Provedor.</p>
          <label>{{this.proveedor.NomProveedor}}</label>
        </div>
        <div class="col-8">
          <p>Objeto del Contrato</p>
          <label>{{this.contratoCompleto.ObjetoContrato}}</label>
        </div>
      </div>
    </div>
  </div>
  <ngx-plantilla-evaluacion [realizar]="this.realizar">
  </ngx-plantilla-evaluacion>
  <button (click)="regresarFiltro()" nbButton status="warning" class="btn-flotante">
    <i class="fas fa-arrow-alt-circle-left"></i>
    Regresar
  </button>
</div>
<ng-template #contentTemplate let-data>
  <h4>{{ data.text }}</h4>
</ng-template>