<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="archivo_icfes">Archivo</label>
      <input type="file" id="archivo_icfes" (change)="onFileChange($event)" #fileInput>
      <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
    </div>
    <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
  </form>
  <div *ngIf=respuesta>
    <code>
      <pre>
        {{respuesta | json}}
      </pre>
    </code>
  </div>
