<div class="card-2">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <nb-card>
      <nb-card-header>{{'GLOBAL.Acta_Recibido.CapturarElementos.CargaMasivaTitle' | translate }}</nb-card-header>
      <nb-card-body>
        <div class="form-group col-sm">
          <input nbInput formControlname="archivo" type="file" id="archivo_icfes" (change)="onFileChange($event)"
            class="form-control-file" #fileInput ngxCurrencyNumber>
          <p *ngIf="!Validador">{{'GLOBAL.Acta_Recibido.CapturarElementos.ValidadorPlaceholder' | translate }}</p>
        </div>
        <button type="button" class="btn btn-primary"
          (click)="clearFile()">{{'GLOBAL.Acta_Recibido.CapturarElementos.LimpiarEspacioButton' | translate }}</button>
      </nb-card-body>
      <nb-card-footer>
        <button type="submit" [disabled]="!form.valid && !Validador" class="btn btn-success">
          {{'GLOBAL.Acta_Recibido.CapturarElementos.CargarElementosButton' | translate }} <i class="fa fa-spinner fa-spin fa-fw"
            *ngIf="loading"></i></button>
      </nb-card-footer>
    </nb-card>
  </form>
</div>

<nb-card *ngIf="dataSource">
  <nb-card-header>{{'GLOBAL.Acta_Recibido.CapturarElementos.ArticulosRelacionadosTitle' | translate }}</nb-card-header>
  <nb-card-body>

    <input nbInput (keyup)="applyFilter($event.target.value)" class="filter" placeholder="Filtro">

    <div>
      <table mat-table #table [dataSource]="dataSource" matSort (keyup)="ver()">

        <!-- Tipo de Bien -->
        <ng-container matColumnDef="TipoBienId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'GLOBAL.Acta_Recibido.CapturarElementos.TipoBienHeader' | translate }} </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <select nbInput type="text" class="cell-2 form-control" [(ngModel)]="element.TipoBienId" required>
              <option *ngFor="let tipobien of Tipos_Bien" [(value)]="tipobien.Id">{{tipobien.Nombre}}</option>
            </select>
          </td>
          <td mat-footer-cell *matFooterCellDef>Totales</td>
        </ng-container>

        <!-- Subgrupo Catalogo -->
        <ng-container matColumnDef="SubgrupoCatalogoId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'GLOBAL.Acta_Recibido.CapturarElementos.SubgrupoHeader' | translate }} </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">

            <select nbInput type="text" fieldSize="tiny" class="cell form-control"
              [(ngModel)]="element.SubgrupoCatalogoId" required>
              <option>1232341</option>
              <option>7674234</option>
              <option>1933232</option>
            </select>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Nombre Catalogo -->
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'GLOBAL.Acta_Recibido.CapturarElementos.DescripcionHeader' | translate }} </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <input nbInput type="text" fieldSize="tiny" class="cell"
              placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.DescripcionHeader' | translate }}"
              [(ngModel)]="element.Nombre" required>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Cantidad Column -->
        <ng-container matColumnDef="Cantidad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'GLOBAL.Acta_Recibido.CapturarElementos.CantidadHeader' | translate }} </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <input nbInput type="text" fieldSize="tiny" class="cell"
              placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.CantidadHeader' | translate }}"
              (ngModelChange)="element.Subtotal = valorXcantidad(element.ValorUnitario, $event).toString();
              element.ValorTotal = valortotal(valorXcantidad(element.ValorUnitario, $event).toString(),element.Descuento,element.ValorIva).toString();
              element.ValorIva = valor_iva(valorXcantidad(element.ValorUnitario, $event).toString(),element.Descuento,element.PorcentajeIvaId).toString();" [(ngModel)]="element.Cantidad"
              required>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Marca Column -->
        <ng-container matColumnDef="Marca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'GLOBAL.Acta_Recibido.CapturarElementos.MarcaHeader' | translate }}
          </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <input nbInput type="text" fieldSize="tiny" class="cell"
              placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.MarcaHeader' | translate }}" [(ngModel)]="element.Marca"
              required>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Serie Column -->
        <ng-container matColumnDef="Serie">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'GLOBAL.Acta_Recibido.CapturarElementos.SerieHeader' | translate }}
          </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <input nbInput type="text" fieldSize="tiny" class="cell"
              placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.SerieHeader' | translate }}" [(ngModel)]="element.Serie"
              required>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- UnidadMedida Column -->
        <ng-container matColumnDef="UnidadMedida">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'GLOBAL.Acta_Recibido.CapturarElementos.UnidadMedidaHeader' | translate }} </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <select nbInput type="text" class="cell" [(ngModel)]="element.UnidadMedida" required>
              <option *ngFor="let unidad of Unidades" [(value)]="unidad.Id">{{unidad.Unidad}}</option>
            </select>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- ValorUnitario Column -->
        <ng-container matColumnDef="ValorUnitario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'GLOBAL.Acta_Recibido.CapturarElementos.ValorUnitarioHeader' | translate }} </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">

            <input currencyMask [options]="{allowNegative: false}" nbInput type="text" fieldSize="tiny" class="cell"
              placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.ValorUnitarioHeader' | translate }}"
              (ngModelChange)="element.Subtotal = valorXcantidad($event, element.Cantidad).toString();
              element.ValorIva = valor_iva(valorXcantidad($event, element.Cantidad).toString(),element.Descuento,element.PorcentajeIvaId).toString();
              element.ValorTotal = valortotal(valorXcantidad($event, element.Cantidad).toString(),element.Descuento,element.ValorIva).toString();" [(ngModel)]="element.ValorUnitario" required>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Subtotal Column -->
        <ng-container matColumnDef="Subtotal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'GLOBAL.Acta_Recibido.CapturarElementos.SubtotalHeader' | translate }} </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <input currencyMask [options]="{allowNegative: false}" nbInput type="text" fieldSize="tiny" class="cell"
              placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.SubtotalHeader' | translate }}" [(ngModel)]="element.Subtotal"
              readonly>
          </td>
          <td mat-footer-cell *matFooterCellDef>
            <p *ngIf="respuesta">{{ getSubtotales() | currency }}</p>
          </td>
        </ng-container>

        <!-- Descuento Column -->
        <ng-container matColumnDef="Descuento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'GLOBAL.Acta_Recibido.CapturarElementos.DescuentoHeader' | translate }} </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <input currencyMask [options]="{allowNegative: false}" nbInput type="text" fieldSize="tiny" class="cell"
              placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.DescuentoHeader' | translate }}" [(ngModel)]="element.Descuento"
              (ngModelChange)="element.ValorIva = valor_iva(element.Subtotal,$event,element.PorcentajeIvaId).toString();
              element.ValorTotal = valortotal(element.Subtotal,$event,element.ValorIva).toString();" required>
          </td>
          <td mat-footer-cell *matFooterCellDef>
            <p *ngIf="respuesta">{{ getDescuentos() | currency }}</p>
          </td>
        </ng-container>

        <!-- PorcentajeIvaId Column -->
        <ng-container matColumnDef="PorcentajeIvaId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'GLOBAL.Acta_Recibido.CapturarElementos.IVAHeader' | translate }}
          </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <select nbInput type="text" class="cell form-control" [(ngModel)]="element.PorcentajeIvaId"
              (ngModelChange)="element.ValorIva = valor_iva(element.Subtotal,element.Descuento,$event).toString();
              element.ValorTotal = valortotal(element.Subtotal,element.Descuento,valor_iva(element.Subtotal,element.Descuento,$event).toString()).toString();" required>
              <option *ngFor="let tarifas of Tarifas_Iva" [(value)]="tarifas.Id">{{tarifas.Nombre}}</option>
            </select>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- ValorIva Column -->
        <ng-container matColumnDef="ValorIva">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'GLOBAL.Acta_Recibido.CapturarElementos.ValorIVAHeader' | translate }} </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <input currencyMask [options]="{allowNegative: false}" nbInput type="text" fieldSize="tiny" class="cell"
              placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.ValorIVAHeader' | translate }}" [(ngModel)]="element.ValorIva"
              readonly>
          </td>
          <td mat-footer-cell *matFooterCellDef>
            <p *ngIf="respuesta">{{ getIVA() | currency }}</p>
          </td>
        </ng-container>

        <!-- ValorTotal Column -->
        <ng-container matColumnDef="ValorTotal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'GLOBAL.Acta_Recibido.CapturarElementos.ValorTotalHeader' | translate }}</th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <input currencyMask [options]="{allowNegative: false}" nbInput type="text" fieldSize="tiny" class="cell"
              placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.ValorTotalHeader' | translate }}"
              [(ngModel)]="element.ValorTotal" readonly>
          </td>
          <td mat-footer-cell *matFooterCellDef>
            <p *ngIf="respuesta">{{ getTotales() | currency }}</p>
          </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef>
            <i class="fas fa-plus-square fa-2x" (click)="addElemento()" nbPopover="{{'GLOBAL.Acta_Recibido.CapturarElementos.AgregarElemento' | translate }}"
              nbPopoverTrigger="hover" nbPopoverPlacement="top"></i>
          </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <i class="far fa-window-close fa-2x" (click)="deleteElemento(rowIndex)" nbPopover="{{'GLOBAL.Acta_Recibido.CapturarElementos.EliminarElemento' | translate }}"
              nbPopoverTrigger="hover" nbPopoverPlacement="top"></i>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50]"></mat-paginator>
  </nb-card-body>
</nb-card>