<div class="row">
  <nb-card class="col-md-6 col-lg-6 col-xxxl-6">
    <nb-card-header>
      {{'GLOBAL.catalogo' | translate}}
    </nb-card-header>
    <nb-card-body>
      <div>
        <select class="form-control mb-4" (change)="onChange($event.target.value)">
          <option disabled selected>{{'GLOBAL.seleccionar' | translate}}...</option>
          <option *ngFor="let item of catalogos" value="{{ item.Id }}">{{ item.Nombre }}</option>
        </select>
        <ngx-arbol *ngIf="catalogoId !== 0" [catalogoId]="catalogoId" (grupo)="receiveMessage($event)" [updateSignal]="eventChange"></ngx-arbol>
      </div>
    </nb-card-body>
  </nb-card>
  <div class="col-md-6 col-lg-6 col-xxxl-6">
    <nb-card *ngIf="uid_1">
      <!-- <ngx-crud-entradas [subgrupo_id]="uid_1" [movimiento_id]="1" (eventChange)="recargarCatalogo($event)" ></ngx-crud-entradas> -->
      <ngx-crud-salidas [subgrupo_id]=uid_1 [movimiento_id]="2" (eventChange)="recargarCatalogo($event)"></ngx-crud-salidas>
      <!-- <ngx-crud-depreciacion [subgrupo_id]=uid_1 [movimiento_id]="3" (eventChange)="recargarCatalogo($event)"></ngx-crud-depreciacion> -->
    </nb-card>
  </div>
</div>