.card-table {
    margin-top: 30px;
}
.card-body-table {
    width: 90%;
    margin: 30px auto;
}
.btn-i {
    background-color: transparent;
    border: none;
    color: #8c1a18;
    cursor: pointer;
    padding: 10px;
    border-radius:5px;
}
.btn-i:hover {
    border: none;
    background-color: #8c1a18;
    color: #ffffff;
    cursor: pointer;
  }