<h3 class="pt-4 pb-4">Entrada por Adquisición</h3>

<!-- FORMULARIO -->
<nb-stepper #stepper orientation="horizontal">

  <!-- DATOS DE CONTRATO -->
  <nb-step [stepControl]="contratoForm" label="Contrato">
    <h5>Datos de Contrato</h5>
    <form [formGroup]="contratoForm" (ngSubmit)="onContratoSubmit()" class="step-container">
      <div class="row">
        <div class="form-group col-sm">
          <label>Número de Contrato</label>
          <div class="input-group">
            <input nbInput type="text" placeholder="Contrato" class="form-control" formControlName="contratoCtrl"
              [ngClass]="{'form-control-danger': contratoForm.invalid && (contratoForm.dirty || contratoForm.touched)}" />
          </div>
        </div>
        <div class="form-group col-sm">
          <label>Tipo de Contrato</label>
          <div class="input-group">
            <input nbInput type="text" placeholder="Tipo Contrato" class="form-control" [readonly]="true" />
          </div>
        </div>
        <div class="form-group col-sm">
          <label>Fecha de Contrato</label>
          <div class="input-group">
            <input nbInput type="text" placeholder="Fecha de Elaboraciòn Contrato" class="form-control"
              [readonly]="true" />
          </div>
        </div>
      </div>
      <button nbButton nbStepperNext>Siguiente</button>
    </form>
  </nb-step>

  <!-- ORDENADOR DE GASTO -->
  <nb-step [stepControl]="odenadorForm" label="Ordenador Gasto">
    <h5>Ordenador de Gasto</h5>
    <div class="row">
      <div class="form-group col-sm">
        <label>Nombres y Apellidos</label>
        <div class="input-group">
          <input nbInput type="text" placeholder="Nombre Completo" class="form-control" [readonly]="true" />
        </div>
      </div>
      <div class="form-group col-sm">
        <label>Asignación</label>
        <div class="input-group">
          <input nbInput type="text" placeholder="Cargo" class="form-control" [readonly]="true" />
        </div>
      </div>
    </div>
    <button nbButton nbStepperPrevious>Anterior</button>
    <button nbButton nbStepperNext>Siguiente</button>
  </nb-step>

  <!-- SUPERVISOR -->
  <nb-step [stepControl]="supervisorForm" label="Supervisor">
    <h5>Supervisor</h5>
    <div class="row">
      <div class="form-group col-sm">
        <label>Nombres y Apellidos</label>
        <div class="input-group">
          <input nbInput type="text" placeholder="Nombre Completo" class="form-control" [readonly]="true" />
        </div>
      </div>
      <div class="form-group col-sm">
        <label>Sede</label>
        <div class="input-group">
          <input nbInput type="text" placeholder="Sede" class="form-control" [readonly]="true" />
        </div>
      </div>
      <div class="form-group col-sm">
        <label>Dependencia</label>
        <div class="input-group">
          <input nbInput type="text" placeholder="Dependencia" class="form-control" [readonly]="true" />
        </div>
      </div>
    </div>
    <button nbButton nbStepperPrevious>Anterior</button>
    <button nbButton nbStepperNext>Siguiente</button>
  </nb-step>

  <!-- FACTURA -->
  <nb-step [stepControl]="facturaForm" label="Factura">
    <form [formGroup]="facturaForm" (ngSubmit)="onFacturaSubmit()" class="step-container">
      <h5>Factura</h5>
      <div class="row">
        <div class="form-group col-sm">
          <label>Número de Factura</label>
          <div class="input-group">
            <select class="form-control">
              <option>000-000-000</option>
              <option>100-000-000</option>
              <option>200-000-000</option>
              <option>300-000-000</option>
            </select>
          </div>
        </div>
        <div class="form-group col-sm">
          <label>Proveedor</label>
          <div class="input-group">
            <input nbInput type="text" placeholder="NIT o Razón Social" class="form-control" [readonly]="true" />
          </div>
        </div>
        <div class="form-group col-sm">
          <label>Fecha de Factura</label>
          <div class="input-group">
            <input nbInput type="text" placeholder="Fecha de Registro Factura" class="form-control" [readonly]="true">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm">
          <label>Importación</label>
          <div class="input-group">
            <nb-checkbox status="success" (click)="toggle($event)"></nb-checkbox>
          </div>
        </div>
        <div class="form-group col-lg-8">
          <label>Número de Registro Importación</label>
          <div class="input-group">
            <input nbInput type="text" placeholder="Número de Importación" class="form-control"
              formControlName="facturaCtrl" [readonly]="!checked"
              [ngClass]="{'form-control-danger': facturaForm.invalid && (facturaForm.dirty || facturaForm.touched)}" />
          </div>
        </div>
      </div>
      <button nbButton nbStepperPrevious>Anterior</button>
      <button nbButton nbStepperNext>Siguiente</button>
    </form>
  </nb-step>

  <!-- OBSERVACIONES -->
  <nb-step [stepControl]="observacionesForm" label="Observaciones">
    <h5>Observaciones</h5>
    <div class="row">
      <div class="form-group  col-lg-12">
        <div class="input-group">
          <textarea rows="5" placeholder="Observaciones" class="form-control"></textarea>
        </div>
      </div>
    </div>
    <button nbButton nbStepperPrevious>Anterior</button>
  </nb-step>

</nb-stepper>

<h5 class="pt-4">Elementos de Entrada</h5>
<ngx-tabla-entradas></ngx-tabla-entradas>

<div class="justify-content-center float-right pt-4">
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
    Registrar Entrada
  </button>
</div>